/.metadata/
/CMakeFiles/
/launcher/
/RemoteSystemsTempFiles/
/build/
/Makefile
/cmake_install.cmake
/CMakeCache.txt
documentation
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles
yaml-cpp.pc
/rocm_smi_lib

# documentation artifacts
build/
_build/
_images/
_static/
_templates/
_toc.yml
docBin/
_doxygen/
