version: 1
gpup: ../lib/rvs/libgpup.so
peqt: ../lib/rvs/libpeqt.so
pesm: ../lib/rvs/libpesm.so
rcqt: ../lib/rvs/librcqt.so
smqt: ../lib/rvs/libsmqt.so
gm: ../lib/rvs/libgm.so
gst: ../lib/rvs/libgst.so
pqt: ../lib/rvs/libpqt.so
pebb: ../lib/rvs/libpebb.so
iet: ../lib/rvs/libiet.so
mem: ../lib/rvs/libmem.so
babel: ../lib/rvs/libbabel.so
edp: ../lib/rvs/libedp.so
perf: ../lib/rvs/libperf.so
