version: 1
testif_no_if_methods: libtestif_no_if_methods.so
testif_no_if0: libtestif_no_if0.so
testif_no_if0_methods: libtestif_no_if0_methods.so
testif_no_if1: libtestif_no_if1.so
testif_no_if1_methods: libtestif_no_if1_methods.so
testif_fail_init: libtestif_fail_init.so
testif_fail_create_action: libtestif_fail_create_action.so
